.groupInput{
   text-align: center;
   margin-top: 65px;
}
.input {
   font-size: 30px !important;
   width: 470px !important;
   height: 88px !important;
}
.btnLogin {
   margin-top: 15px;
   width: 80%;
}
.btnCode {
   width: 100% !important;
}