.align-qrcode {
  text-align: center;
  margin-top: 50px;
}
.input-df {
  font-size: 30px !important;
  width: 470px !important;
  height: 88px !important;
}
.groupInput-df {
  text-align: center;
  margin-top: 20px;
}
